<!DOCTYPE html>
<html>
  <head>
    <title>Test Technique</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render partial: 'layouts/partials/navbar' %>

      <section class="site">

        <%= render partial: 'layouts/partials/header' %>

        <article class="body">
          <%= yield %>
        </article>

        <%= render partial: 'layouts/partials/sidebar' %>

        <%= render partial: 'layouts/partials/footer' %>

      </section>

  </body>
</html>
