<!DOCTYPE html>
<html>
  <head>
    <title>Test Technique</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= render partial: 'layouts/partials/navbar' %>
      
      <%= yield %>
    </div>

  </body>
</html>
